@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Truculenta:wght@100;600&display=swap');
.comedian-holder{
  font-family: "open sans";
  color: #003d5b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.user-info-text{
  flex-grow: 2;
  margin-left: 30px;
  border-left: 1px solid #d1495b;
  padding-left: 30px;
}
.comedian-info{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  /* background-color: antiquewhite; */
  padding: 10px;
  margin-top: 20px;
  border-bottom: 1px solid #d1495b;
}
input{
  width: 200px;
  padding: 18px 12px 6px;
  margin: 20px;
  border-radius: 2px;
}
.submit-btn{
  padding: 20px;
  font-family: "open sans";
  font-size: 15px;
}
.tags__container{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tags__container select, .tags__container option, .tags__container input{
  border: none;
  background-color: #00798c;
  color: #003d5b;
  font-family: "open sans";
  font-size: 17px;
  height: 50px;
  width: 200px;
  margin: 10px;
}
.tags__container form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  height: 50px;
}
.tags-list{
  list-style: none;
  display: flex;
  flex-direction: row;

}
.grin-container{
  margin-left: 10px;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
}
.grin-container:hover{
  background-color: #edae49;

}
.grin-outer-container{
  display: flex;
  align-items: center;
  align-content: center;
}
.grin-outer-container i{
  color: #d1495b;
  font-size: 35px;
}
.tags-list li{
  padding: 10px;
  /* background-color: #edae49; */
  margin: 7px;
  border: 3px solid #edae49;
  background-color: #edae49;
}
.upcoming-Shows__container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (max-width: 850px){

  .comedian-holder{
    font-family: "open sans";
    color: #003d5b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
  }
}
@media (max-width: 450px){
  .comedian-holder{
    max-width: 300px;
    flex-direction:column;
    align-content: center;
    align-items: center;
    border-top: 2px solid #d1495b;
  }
  .all-the-comedians-page__container{
    max-width: 300px;
    align-content: center;
    align-items: center;
    flex-direction: column;
  }
  .tags__container select, .tags__container option, .tags__container input{
    border: none;
    background-color: #00798c;
    color: #003d5b;
    font-family: "open sans";
    font-size: 17px;
    height: 25px;
    width: 150px;
    margin: 10px;
  }
  .tags__container form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    height: 25px;
    margin-bottom: 5px;
  }
  .comedian-info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    
  }
}
