.event__container {
  width: 300px;
  border-radius: 4px;
}
.eventPhoto{
  width: 300px;
  height: 300px;
}
.photoHolder{
  height: 300px;
  overflow: hidden;
}
.event__container{
  width: 300px;
  margin: 20px;
  /* border: 4px solid #003d5b; */
  position: relative;
  background-color: rgb(251, 252, 253);
}
.venue__container a{
  text-decoration: none;
}
.event-description__container{
  box-sizing: border-box;
  padding: 10px;
  width: 300px;
  /* margin: 10px; */
  font-family: "open sans";
  text-decoration: none;
  color: #003d5b;
  padding: 10px;
  border-left: 4px solid #003d5b;
  border-right: 4px solid #003d5b;
  border-bottom: 4px solid #003d5b;
}
