@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Truculenta:wght@100;600&display=swap');
h1{
  
  color: #2d3142ff;
  font-family: "Truculenta";
  font-size: 45px;
}
.add-event__container{
  margin: 20px;
  padding: 20px;
  background-color: rgba( 229, 229, 229, 1);
}
.add-event__container form{
  display: flex;
  flex-direction: column;
}

.add-event__container input{
  background-color: transparent;
  border: none;
  
}
.add-event__container label{
  border-bottom: 1px solid #00798c;
  margin-bottom: 5px;
}
.add-event__element{
  padding: 10px;
  color: #2d3142ff;
  background-color: white;
  font-size: 25px;
  border: 4px solid #003d5b;
  margin: 10px;
  align-items: center;
  display:flex;
  flex-direction: column;
  border-bottom: 3px solid #00798c;
  border-top: 3px solid #00798c;
}
.add-event__element input:hover{
  background-color: #f8961eff;
}

.add-event__element select {
  border:none;
  background-color: #003d5b;
  font-family: "open-sans";
  color: rgb(207, 219, 213);
  font-size: 20px;
  width: 200px;
  padding: 15px;
  margin-bottom: 10px;
}
option:hover{
  background-color: rgb(117, 122, 145);
}
.types_events fieldset{
  display: flex;
  flex-wrap: wrap;
  border:none;
}
.types_events fieldset input{
  width: 50px;
}
.types_events fieldset label{
  flex-grow: 2;
  padding: 10px;
}
.types_events fieldset label:hover{
  background-color: #f8961eff;
}
@media (max-width: 700px){
  form{
    width: 100%;
  }
  .add-event__element textarea{
    width: 200px;
  }
  .add-event__element label{
    font-size: 15px;
    width: 200px;
  }
  .new_venue__container{
    width: 200px;
    overflow: hidden;
  }
}