

.events-page__container{
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.individual-events__container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-top: 2px solid #d1495b;
}
.add_event_icon_holder{
  position: absolute;
  z-index: 3;
  right: 20px;
  top: 200px;
  cursor: pointer;
}
.heart_container{
  position: absolute;
  z-index: 3;
  right: 20px;
  top: 200px;
  cursor: pointer;
  background-color: #d1495b;
  border-radius: 35px;
  padding: 5px;
  width: fit-content;
  display: flex;
  align-items: center;
  margin: 10px;
}

.add_event_icon_holder i{
  font-size: 35px;
}
.eventContainer{
  position: relative;
}

@media (max-width: 850px){
  .individual-events__container{
    flex-direction:column;
    align-content: center;
    align-items: center;
    border-top: 2px solid #d1495b;
  }
  .all-the-events-page__container{
    align-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 400px){
  .events-page__container{
    max-width: 300px;
    align-content: center;
    align-items: center;

  }
  .individual-events__container{
    max-width: 300px;
    flex-direction:column;
    align-content: center;
    align-items: center;
    border-top: 2px solid #d1495b;
  }
  .all-the-events-page__container{
    max-width: 300px;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
  }
}