@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Truculenta:wght@100;600&display=swap');
.splash-Landing__container{
  margin-top: 30px;
  position: relative;
  background-image: url("../../images/guffawSplash01.png");
  background-repeat: no-repeat;
  background-size: auto;
  width: 1200px;
  height:400px;
  box-shadow:#2d3142ff 0px 0px 1px 2px;
}

.outer-splash{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  max-height: 100%;
}

.splash-Landing__container li{
  font-family: "open sans";
  font-size: 20px;
  color: rgb(207, 219, 213);
  text-shadow:  #2d3142ff 1px 3px 3px;
  z-index: 0;
  list-style: none;
  padding: 30px;
}

.splash-Landing__container ul{
  width: 1200px;
  position: absolute;
  bottom: 0px;
  bottom: -43px;
  display: flex;
  flex-direction: row;
}

.splash-Landing__container a{
  position: absolute;
  padding: 40px;
  left: 600px;
  top: 50px;
  font-weight: bold;
  color: rgb(207, 219, 213);
  text-shadow:  #2d3142ff 1px 3px 3px;
  font-family: "open sans";
  font-size: 20px;
  text-decoration: none;
  z-index: 0;
}

.splash-Landing__container a:hover{
  background-color:rgba(207, 219, 213, .5);
  cursor: pointer;
}
.user-holder{
  display: flex;
  flex-direction: column;
}
.user-info{
  color: #2d3142ff;
  display: flex;
  flex-direction: row;
  margin: 20px;
  border: 5px solid rgb(68, 73, 95);
  padding: 10px;
  font-family: "open sans";
}
.profile-image{
  width: 500px;
}
.profile-pic{
  margin: 20px;
  max-height: 400px;
  max-width: 400px;
  overflow: hidden;
}
#picButton {
  text-align: center;
  padding: 10px;
  height: 30px;

}
.upcoming-shows__container_profile{
  font-family: "open sans";
  width: 100%;
}
.upcoming-shows__header{
  font-family: "open sans";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.upcoming-shows__header h1{
  padding: 10px;
  color: #2d3142ff;
  border-bottom:2px solid rgba(68, 73, 95, .7);
}
.fanEvent__container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}
#add-event-div{
  width: fit-content;
  height: fit-content;
  border-radius: 50px;
  background-color: rgba(68, 73, 95, .7);
  margin: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  color: #f8961eff;
  padding: 5px;
}

#add-event-div .fa-plus{
  font-size: 30px;
  padding: 20px;
  color: #f8961eff;
}
@media (max-width: 850px){
  .splash-Landing__container{
    margin: 0 auto;
    position: relative;
    background: url("../../images/guffawSplash01.png");
    background-size: 600px 350px;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
  }
  .outer-splash{
    padding: 50px;
    background-color: rgba(207, 219, 213, .5);
  }
  
  .splash-Landing__container li{
    font-family: "open sans";
    font-size: 10px;
    color: rgb(207, 219, 213);
    z-index: 0;
    list-style: none;
    padding: 10px;
  }
  
  .splash-Landing__container ul{
    width: 600px;
    position: absolute;
    bottom: 5px;
    display: flex;
    flex-direction: row;
  }
  .edit{
    background-color: #2d3142ff;
  }
  .splash-Landing__container a{
    position: absolute;
    padding: 20px;
    left: 300px;
    top: 25px;
    font-weight: bold;
    color: rgb(207, 219, 213);
    font-family: "open sans";
    font-size: 20px;
    text-decoration: none;
    z-index: 0;
  }
  .user-info{
    color: #2d3142ff;
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: 5px solid rgb(68, 73, 95);
    padding: 10px;
    font-family: "open sans";
  }
  .upcoming-shows__header{
    font-family: "open sans";
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  #add-event-div{
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50px;
    background-color: rgba(68, 73, 95, .7);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: #f8961eff;
  }
  #add-event-div span{
    visibility: hidden;
    display:none;
  }
  .fanEvent__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
}
@media (max-width: 650px){
  .splash-Landing__container{
    margin: 0 auto;
    position: relative;
    background: url("../../images/guffawSplash01.png");
    background-size: 400px 200px;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
  }
  .outer-splash{
    padding: 50px;
    background-color: rgba(207, 219, 213, .5);
  }
  
  .splash-Landing__container li{
    font-family: "open sans";
    font-size: 10px;
    color: rgb(207, 219, 213);
    z-index: 0;
    list-style: none;
    padding: 10px;
  }
  
  .splash-Landing__container ul{
    width: 300px;
    position: absolute;
    bottom: -20px;
    display: flex;
    flex-direction: row;
  }
  .splash-Landing__container a {
    font-size: 15px;
  }
}