@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Truculenta:wght@100;600&display=swap');
body{
  background-color:#30638e;
  margin: 0px;
  padding: 0px;
  position: relative;
  
}

.form-main-page{
  display: flex;
  justify-content: space-evenly;
}
a{
  text-decoration: none;
}
button{
  cursor: pointer;
}
.main-content{
  background-color:#e7ecef;
  width: fit-content;
  margin: 0 auto;
  padding: 20px;
  height: max-content;
}
@media (max-width: 400px){
  
  .main-content{
    max-width: 300px;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
}