@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Truculenta:wght@100;600&display=swap');

nav{
  position: relative;
  background-color: #2d3142ff;
  display: flex;
  justify-content: space-between;
  height: 100px;
}


.btn {
  background-color: transparent;
  border: none;
  height: 30px;
  padding: 10px;
  margin: 10px;
  font-family: 'Open Sans', sans-serif;
}
.icon__container{
  margin: 10px;
  padding: 10px;
}
.icon__container i {
  font-size: 30px;
  padding: 20px;
  color: #f8961eff;
}
.drop-down{
 position: absolute;
 top: 75px;
 right: 0px;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  box-sizing: border-box;
   z-index: 10;
  text-align: center;
  list-style: none;
  background-color: rgba(79,93,117,.8);
  font-family: "open sans";
  color: rgb(207, 219, 213);
  font-size: 25px;
}

.drop-down li:hover{
  background-color: rgba(79, 93, 117, 1);
}

.drop-down button{
  border: none;
  background-color: transparent;
  color: rgb(207, 219, 213);
  font-size: 25px;
  font-family: "open sans", sans-serif;
}

.drop-down a{
  background-color: transparent;
  text-decoration: none;
  color: rgb(207, 219, 213);
  font-size: 25px;
  font-family: "open sans", sans-serif;
}

.searchForm{
  
  top: 100px;
  right: 1px;
  display: flex;
  flex-direction: column;
  background-color: #f8961eff;
  z-index: 3;
}
.searchContainer{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100px;
  right: 1px;
  
}