@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Truculenta:wght@100;600&display=swap');

nav{
  background-color: #2d3142ff;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-content: center;
  margin: none;
}

.btn {
  background-color: transparent;
  border: none;
  height: 30px;
  padding: 10px;
  margin: 10px;
  font-family: 'Open Sans', sans-serif;
}
.login_holder a{
  height: 100%;
  box-sizing: border-box;
  font: bold 20px 'Open Sans';
  text-decoration: none;
  background-color:transparent;
  color: #e5e5e5 ;
  padding-top: 35px;
  padding-right: 35px;
  padding-left: 35px;
}

.Loginbtn:hover{
  background-color: rgba(229, 229, 229, .5);
}